<div class="container-fluid mt-2">
 <div class="row">
      <div class="card-columns">
          <div class="col-md-12 col-12 card" *ngFor="let notes of notesList;let i = index">
              <div class="row">
                  <div class="col-md-12 col-12 text-right">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="getNoteDetails(i)">
                                  <mat-icon>edit</mat-icon>
                                  <span>Edit</span>
                                </button>
                                <button mat-menu-item [matMenuTriggerFor]="noteLabels">
                                  <mat-icon>label</mat-icon>
                                  <span>Labels</span>
                                </button>

                                <mat-menu #noteLabels="matMenu" >
                                    <button mat-menu-item *ngFor="let lblclr of labelColors" class="col-12 ml-auto mr-auto mt-1" [primarybg]="lblclr" (click)="setLabels(i,lblclr)">
                                        
                                    </button>
                                </mat-menu>

                                <button mat-menu-item (click)="DeleteNote(i)">
                                  <mat-icon>delete</mat-icon>
                                  <span>Delete</span>
                                </button>
                              </mat-menu>
                  </div>
                  <div class="col-md-12 col-12 mt-1">
                      <p>{{notes.note}}</p>
                  </div>
                  <div class="col-md-12 col-12 mt-1">
                      <a href="{{notes.url}}" target="_blank">{{notes.url}}</a>
                  </div>
                  <div class="col-md-12 col-12 mt-1 mb-1 ml-auto mr-auto">
                    <img [src]="notes.files[0]" height="200" *ngIf="notes.files.length > 0" class="img-fluid">
                  </div>
                  <div class="col-md-12 col-12">
                        <button mat-icon-button *ngFor="let obj of notes.lables">
                            <mat-icon [primaryclr]="obj">label</mat-icon>
                        </button>
                  </div>
              </div>
          </div>
      </div>
    </div> 
    <button mat-raised-button mat-fab class="writeNote" matTooltip="Write Notes" color="accent" (click)="openDialog()"><mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon></button>

</div>
